/*-------- Base Style --------*/
* {
    box-sizing: border-box;
}

heading {
    display: block;
    padding: 1px;
    text-align: center;
    background: #1b3836;
    color: white;
    font-size: .7em;
}

section {
    margin: 0 10px;
    text-align: center;
    border-bottom: 5px double #1b3836;
}
h2 {
   margin-bottom: 0; 
}
.info {
    margin-top: 10px;
}
.contact-information,
.newsletter1 {
    border: none;
}
.contact-information {
    border-bottom: 3px solid #1b3836;
}
.contact-info {
    padding: 5px;
    margin-bottom: 0;
}
.news-info,
.format {
   padding: 0;
   margin-bottom: 5px;
}

#topics {
    padding: 0;
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
#name,
#email,
#phone,
#address,
#city,
#state,
select,
textarea {
    padding: 10px;
    margin: 10px 2px;
    width: 100%;
    background: rgba(0,0,0,.2);
    border: 0;
    border-radius: 5px;
}
#zip {
    display: block;
    padding: 10px;
    margin: 10px 2px;
    width: 50%;
    background: rgba(0,0,0,.2);
    border: 0;
}

#html-news,
#css-news,
#java-news,
#html,
#plain {
    display: inline;
    margin: 10px;
}
#plain {
    margin-bottom: 30px;
}
select {
    color: grey;
}
#sign-up {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background: #44807d;
    color: white;
    border: 0;
    border-radius: 5px;
}
#sign-up:hover {
    background-color: #2a4c4a;
    cursor: pointer;
}
#state,
#html-news,
#css-news,
#java-news,
#html,
#plain {
    cursor: pointer;
}
select:focus {
    background: rgb(214, 248, 192);
}

main,
footer {
    background: white;
    margin: 20px 5px 20px;
}

footer {
    text-align: center;
    color: #999;
}

/*-------- Flexbox Style --------*/
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



/*-------- Media Queries --------*/

